body {
  width: 300px;
  margin: 10px;
  background: #fff;
  color:#333;
  font-family: "Trebuchet MS", "Lucida Grande", "Tahoma","Helvetica","Arial", "hiragino kaku gothic pro", "나눔고딕", "NanumGothic" , "NanumGothicOTF" ,dotum, sans-serif
  font-size: 100%;
}
